<form [formGroup]="formPublishing">
    <input formControlName="id" type="hidden">
    <mat-grid-list cols="2" rowHeight="4:0.5">
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput formControlName="nome" placeholder="Nome">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput formControlName="email" placeholder="E-mail">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput formControlName="telefone" placeholder="Telefone">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
            <mat-chip-list>
                <mat-chip *ngIf="!modeEdit" (click)="save()"> Salvar </mat-chip>
                <mat-chip *ngIf="modeEdit" (click)="save()"> Editar </mat-chip>
                <mat-chip color="primary" selected (click)="clear()">Limpar</mat-chip>
            </mat-chip-list>
        </mat-grid-tile>
    </mat-grid-list>
</form>