<form [formGroup]="formBook">
    <input formControlName="id" type="hidden">
    <mat-grid-list cols="2" rowHeight="4:0.5">
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput formControlName="titulo" placeholder="Título">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput formControlName="autor" placeholder="Autor">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <mat-select placeholder="Editora" formControlName="editora">
                    <mat-option *ngFor="let editora of editoras" [value]="editora.id">
                        {{editora.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="datapublicacao"
                type="text"
                 placeholder="Data de publicação">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field>
                <input matInput formControlName="descricao" placeholder="Descrição">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
            <mat-chip-list>
                <mat-chip *ngIf="!modeEdit" (click)="save()"> Salvar </mat-chip>
                <mat-chip *ngIf="modeEdit" (click)="save()"> Editar </mat-chip>
                <mat-chip color="primary" selected (click)="clear()">Limpar</mat-chip>
            </mat-chip-list>
        </mat-grid-tile>
    </mat-grid-list>
</form>