<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Toboguim</mat-card-title>
        <mat-card-subtitle>Sobre</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Uma empresa de canos, que decidiu seguir este novo ramo com intuito de passar conhecimentos em relação
            a contruções, dando a todas as pessoas capacidade de entender o funcionamento dos encanamentos de suas casas.
            Além de tudo isso auxiliando em quesitos de reparos básicos.
        </p>
    </mat-card-content>
    <img src="../../../../assets/canossobre.jpg" />
</mat-card>